#login_page {
    text-align: center;
    background-color: bisque;
}
.field {
    margin-bottom: 15px;
}
.login_error{
    color: red;
}
.login_div{
    color: black;
}
.logout_href{
    color: coral;
}
.user_profile_page, body {
    text-align: left;
}
.user_welocome {
    text-align: center;
}
.submit_data {
    text-align: center;
}
.delete_data {
    text-align: center;
}
